.date {
    /* padding-left: 10px; */
    display: flex;
    min-width: 10%;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px 10px;
    background-color: rgb(47, 103, 98);
    font-size: 12px;
    color: white;
    padding: 4px;
}
.month {
    font-size: large;
    font-weight: bold;
}
.day {
    font-size: 22px;
    font-weight: bold;
}