.expense-form {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 1rem;
}

.expense-form-entry label {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: bold;
}
.expense-form-entry input {
  width: 20rem;
  max-width: 90%;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.25rem;
  border: 1px solid #ccc;
  font: inherit;
}

.expense-form-submit button {
  text-align: right;
}
